[MASTER]
load-plugins = "pylint_pydantic"
jobs=4
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring

[FORMAT]
good-names=i,j,k,ex,_,pk,x,y,n
